<% include ../partials/header.ejs %>

<!-- Content -->
<body class="homepage">
	<div class="container">
	<div id="page-wrapper">
		<% include ../partials/nav.ejs %>
    
    <p id="contact-title"> Blog </p>
    <img class="line" src="/images/line1.png">  
		<!-- Main -->
		<div class="row wrapper style2">
			<section class="11u 10u(mobile)">
				<ul class="divided">
					<% blogs_list.forEach(blog_map => { %>
						<li>
							<div class="row">
								<section class="6u 10u(mobile)">
									<img src=<%= blog_map['Image']%> alt="">
								</section>
								<section class="4u 10u(mobile) ">
									<br/>
									<a href="/<%= blog_map['File']%>"> <h3><%= blog_map['Title'] %></h3> </a>
									<p><%= blog_map['Date']%></p>
									<p><%= blog_map['Excerpt']%></p>
								</section>
							</div>
							
						</li>
					<% }) %>
				</ul>
			</section>
		</div>
	</div>
<% include ../partials/footer.ejs%>