<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ45HT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Main -->
<div class="wrapper style1">
	<div class="row">
		<% featuredList.forEach(featuredMap => { %>
			<article class="4u 12u(mobile) special">
				<a href="/<%= featuredMap['File']%>" class="image featured"><img src=<%= featuredMap['Image']%> alt="" /></a>
				<header>
					<h3><a href="/<%= featuredMap['File']%>"><%= featuredMap['Title']%></a></h3>
				</header>
			</article>
		<% }) %>
	</div>

	<div class="container">
		<div class="row 200%">

			<div class="8u 12u(mobile) important(mobile)" id="content">
				<% blogPosts.forEach(blogPostMap => { %>
					<article id="main">
						<header>
							<h2><a href="/<%= blogPostMap['File']%>"><%= blogPostMap['Title']%></a></h2>
							<p>
								<%= blogPostMap['Date'] %>
							</p>
						</header>
						<a href="/<%= blogPostMap['File']%>" class="image featured"><img src=<%= blogPostMap['Image']%> alt="" /></a>
						<p>
							<%= blogPostMap['Excerpt'] %>
						</p>
						<p>
							<a href="/<%= blogPostMap['File'] %>">Read More<a>
								<br><br><br>
						</p>
					</article>
				<% }) %>
			</div>

			<% include ../partials/mostrecent.ejs %>

		</div>
		<hr />
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribe to our mailing list</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
</div>
<% include ../partials/footer.ejs %>
